spi
*.docx
*_prj
*.Xil/
*.log
*.jou
*.str
*.wcfg
__pycache__/
*.py[cod]
*_draft.*
*_test.*
*_lfsr
.vscode
bch/results/simulation_logs/*
!bch/results/simulation_logs/.gitkeep
bch/results/vivado_bch_sim/
bch/vectors/*
!bch/vectors/.gitkeep
convolutional_encoder/results/simulation_logs/*
!convolutional_encoder/results/simulation_logs/.gitkeep
convolutional_encoder/results/vivado_conv_encoder_sim/
convolutional_encoder/vectors/*
!convolutional_encoder/vectors/.gitkeep
viterbi_decoder/results/simulation_logs/*
!viterbi_decoder/results/simulation_logs/.gitkeep
viterbi_decoder/results/vivado_viterbi_decoder_sim/
viterbi_decoder/vectors/*
!viterbi_decoder/vectors/.gitkeep
hamming_encoder_decoder/results/simulation_logs/*
!hamming_encoder_decoder/results/simulation_logs/.gitkeep
hamming_encoder_decoder/results/waveform_screenshots/*
!hamming_encoder_decoder/results/waveform_screenshots/.gitkeep
hamming_encoder_decoder/results/vivado_hamming_sim/
hamming_encoder_decoder/vectors/*
!hamming_encoder_decoder/vectors/.gitkeep
i2c/results/vivado_i2c_sim/
